.advantages
	.container
		.advantages__wrapper
			img(src="/images/block-advantages.png" alt="")
			.advantages__info
				.advantages__title
					| Преимущества #[br]
					| нашей карты
				.advantages__list
					p
						| Без залога и&nbsp;поручителей
					p
						| Досрочное погашение&nbsp;&mdash; в&nbsp;любое время, без штрафных комиссий
					p
						| Скидки и&nbsp;специальные предложения при оплате картами MasterCard и&nbsp;Maestro
