.card-info
	.container
		.card-info__title
			| Заявка на&nbsp;карту
		.card-info__subtitle
			| Visa Classic 100 дней без&nbsp;%
		.card-info__wrapper
			.card-info__left-column
				img.card-info__image(src="/images/card.png" alt="Карта ВенецБанк")
			.card-info__right-column
				.card-info__list
					.card-info__list__column
						.card-info__item
							.card-info__item__title
								| Кредитный лимит
							.card-info__item__text
								| до&nbsp;100&nbsp;000 рублей
						.card-info__item
							.card-info__item__title
								| Процентная ставка по&nbsp;кредиту
							.card-info__item__text
								| до&nbsp;26%
					.card-info__list__column
						.card-info__item
							.card-info__item__title
								| Приветственный период
							.card-info__item__text
								| 90&nbsp;дней, 0%
						.card-info__item
							.card-info__item__title
								| Льготный период
							.card-info__item__text
								| до&nbsp;55&nbsp;дней
				.card-info__description
					| Минимальный платеж&nbsp;5% от&nbsp;задолженности по&nbsp;кредиту на&nbsp;первое число месяца плюс начисленный процент за&nbsp;пользование кредитом#[br]
					| #[br]
					| СМС-информирование
