footer.footer
	.container
		.footer__info
			.footer__info__item
				.footer__info__phone
					a(href="tel:88007075599") 8 (800) 707-55-99
				.footer__info__text
					| Бесплатно по&nbsp;России
			.footer__info__item
				.footer__info__phone
					a(href="tel:88422555999") 8 (8422) 555-999
				.footer__info__text
					| г. Ульяновск
			a.footer__info__button.button.button--gray-ghost(href="#")
				| Заказать звонок
		.footer__copyright
			| &copy;&nbsp;2008&ndash;2015&nbsp;АО Банк &laquo;Венец&raquo;, лицензия
			| ЦБ&nbsp;РФ &#8470;&nbsp;524 от&nbsp;19.12.2014&nbsp;г. Информация о&nbsp;лицах,
			| под контролем либо значительным влиянием которых находится Банк Информация
			| о&nbsp;максимальных процентных ставках по&nbsp;вкладам физических лиц
