header.header
	a.header__logo(href="https://www.venets-bank.ru")
		img(src="/images/logo.png" srcset="/images/logo@2x.png 2x" alt="ВенецБанк")
	.header__info
		a.header__info__button.button.button--small.button--red-ghost(href="#")
			| Заказать звонок
		.header__info__item
			.header__info__phone
				a(href="tel:88422555999") 8 (8422) 555-999
			.header__info__text
				| г. Ульяновск
		.header__info__item
			.header__info__phone
				a(href="tel:88007075599") 8 (800) 707-55-99
			.header__info__text
				| Бесплатно по&nbsp;России
