.main-banner
	.container
		.main-banner__wrapper
			.main-banner__column
				img(src="/images/card.png" srcset="/images/card@2x.png 2x")
			.main-banner__column
				.main-banner__title
					| Заявка на карту
				.main-banner__subtitle
					| Visa Classic 100 дней без %
				a.button.button--red(href="#")
					| Заказать сейчас
		.main-banner__plate
			.main-banner__plate__item
				.main-banner__plate__item__title
					| до&nbsp;300&nbsp;000&nbsp;руб.
				.main-banner__plate__item__text
					| Кредитный лимит
			.main-banner__plate__item
				.main-banner__plate__item__title
					| 90&nbsp;дней, 0%
				.main-banner__plate__item__text
					| Приветственный период
			.main-banner__plate__item
				.main-banner__plate__item__title
					| до&nbsp;55&nbsp;дней
				.main-banner__plate__item__text
					| Льготный период
