form.form(method="POST")
	.container
		.form__text
			| Поля не&nbsp;обязательны к&nbsp;заполнению. Содержит комментарий к&nbsp;полю: &quot;Не&nbsp;обязательно к&nbsp;заполнению. Наличие подтвержденных сведений ускорит рассмотрение заявки

		.field
			label.field__file.file(tabindex="0")
				input.file__input(type="file" name="passport-scan" tabindex="-1")
				.file__preview
				.file__text
					| Прикрепить скан копию паспорта

		.field
			label.field__file.file(tabindex="0")
				input.file__input(type="file" name="snils-scan" tabindex="-1")
				.file__preview
				.file__text
					| Прикрепить скан копию СНИЛС

		.field
			label.field__file.file(tabindex="0")
				input.file__input(type="file" name="proof-of-income-scan" tabindex="-1")
				.file__preview
				.file__text
					| Прикрепить скан копию документов, подтверждающих доход

		.field
			label.field__file.file(tabindex="0")
				input.file__input(type="file" name="photo" tabindex="-1")
				.file__preview
				.file__text
					| Личная фотография

		.field
			label.field__label(for="input-code-word")
				| Кодовое слово
			input.field__input.input#input-code-word(type="text" name="code-word")
			.field__tip
				| Необходимо для удаленной идентификации в&nbsp;Банке

		.form__footer
			a.form__footer__button-prev.button.button--gray-ghost(href="#")
				+svg("arrow-left")
			button.form__footer__button-next.button.button--red(type="submit")
				| Продолжить
