form.form(method="POST")
	.container
		.field
			label.field__label(for="input-name")
				| Имя
			input.field__input.input#input-name(type="text" name="name")
			.field__tip
				| Укажите точно как в&nbsp;паспорте

		.field
			label.field__label(for="input-surname")
				| Фамилия
			input.field__input.input#input-surname(type="text" name="surname")
			.field__tip
				| Укажите точно как в&nbsp;паспорте

		.field
			label.field__label(for="input-patronymic")
				| Отчество
			input.field__input.input#input-patronymic(type="text" name="patronymic")
			.field__tip
				| Укажите точно как в&nbsp;паспорте. Если отчество отсутствует&nbsp;&mdash; поставьте прочерк

		.field
			label.field__checkbox.checkbox(tabindex="0")
				input.checkbox__input(type="checkbox" name="surname-changed")
				.checkbox__mark
				.checkbox__text
					| Фамилия изменялась?

		.field
			label.field__label(for="input-date-of-birth")
				| Дата рождения
			input.field__input.input#input-date-of-birth(type="text" name="date-of-birth" placeholder="00.00.0000")
			.field__tip
				| Укажите точно как в&nbsp;паспорте

		.field
			label.field__label(for="input-place-of-birth")
				| Дата рождения
			input.field__input.input#input-place-of-birth(type="text" name="place-of-birth")
			.field__tip
				| Укажите точно как в&nbsp;паспорте

		.field
			label.field__label(for="input-passport")
				| Дата рождения
			input.field__input.input#input-passport(type="text" name="passport" placeholder="серия / номер")
			.field__tip

		.field
			label.field__label(for="input-department-code")
				| Дата рождения
			input.field__input.input#input-department-code(type="text" name="department-code" placeholder="000")
			.field__tip

		.field
			label.field__label(for="input-date-of-issue")
				| Дата выдачи пасспорта
			input.field__input.input#input-date-of-issue(type="text" name="date-of-issue" placeholder="00.00.0000")
			.field__tip

		.field
			label.field__label(for="input-snils")
				| СНИЛС
			input.field__input.input#input-snils(type="text" name="snils" placeholder="000 000 000")
			.field__tip

		.field
			label.field__label(for="input-place-of-registration")
				| Место регистрации
			input.field__input.input#input-place-of-registration(type="text" name="place-of-registration")
			.field__tip
				| Укажите точно как в&nbsp;паспорте

		.field
			label.field__checkbox.checkbox(tabindex="0")
				input.checkbox__input(type="checkbox" name="registration-same-as-residence")
				.checkbox__mark
				.checkbox__text
					| Место регистрации совпадает с&nbsp;местом проживания?

		.field
			label.field__label(for="input-phone")
				| Номер мобильного телефона
			input.field__input.input#input-phone(type="tel" name="phone" placeholder="+7 (___)___-__-__")
			.field__tip
				| Укажите номер телефона. Пример: +7(910) 123-45-67. Убедитесь, что телефон введен корректно, т.к.&nbsp;на&nbsp;него будет выслана SMS с&nbsp;решением банка

		.field
			label.field__label(for="input-email")
				| Электронная почта
			input.field__input.input#input-email(type="email" name="email")
			.field__tip
				| Укажите email. Пример: vashapochta@domain.ru. Указывайте существующий email, т.к.&nbsp;на&nbsp;него может быть направлена ценная для вас информация по&nbsp;заявке

		button.form__button.button.button--red(type="submit")
			| Не&nbsp;все поля заполнены
