form.form(method="POST")
	.container
		.field
			label.field__label(for="input-proof-of-income")
				| Документ, подтверждающий доход
			select.field__select.select#input-proof-of-income(name="proof-of-income")
				option Вариант 1
				option Вариант 2
				option Вариант 3
			.field__tip
				| Выберите значения из&nbsp;списка

		.field
			label.field__label(for="input-active-credits")
				| Действующие кредиты
			select.field__select.select#input-active-credits(name="active-credits")
				option Вариант 1
				option Вариант 2
				option Вариант 3
			.field__tip
				| Выберите есть&nbsp;ли у&nbsp;вас на&nbsp;сегоднешний день действующие кредиты

		.field
			label.field__label(for="input-credit-type")
				| Вид кредита
			input.field__input.input#input-credit-type(type="text" name="credit-type")
			.field__tip

		.field
			label.field__label(for="input-creditor-name")
				| Наименование кредитора
			input.field__input.input#input-creditor-name(type="text" name="creditor-name")
			.field__tip

		.field
			label.field__label(for="input-credit-balance")
				| Остаток кредита/Лимит по&nbsp;кредитной карте
			input.field__input.input#input-credit-balance(type="text" name="credit-balance")
			.field__tip

		.field
			label.field__label(for="input-monthly-payment")
				| Ежемесячный платеж
			input.field__input.input#input-monthly-payment(type="text" name="monthly-payment")
			.field__tip

		button.form__add(type="button")
			| Добавить кредитора

		.form__footer
			a.form__footer__button-prev.button.button--gray-ghost(href="#")
				+svg("arrow-left")
			button.form__footer__button-next.button.button--red(type="submit")
				| Продолжить
