.steps
	.container
		.steps__title
			| Оформите карту онлайн #[br]
			| за&nbsp;3&nbsp;простых шага
		.steps__wrapper
			.steps__item
				.steps__item__icon
					+svg("step-1")
				.steps__item__title
					| Заполните онлайн-заявку
				.steps__item__text
					| За 7 минут
			.steps__item
				.steps__item__icon
					+svg("step-2")
				.steps__item__title
					| Моментальное одобрение
				.steps__item__text
					| Узнайте решение онлайн в&nbsp;течение 2-х минут
			.steps__item
				.steps__item__icon
					+svg("step-3")
				.steps__item__title
					| Бесплатно доставим карту
				.steps__item__text
					| В&nbsp;удобное для вас#[br]
					| отделение
		a.button.button--red(href="#")
			| Заказать сейчас
