mixin progress(step)
	.progress
		.container
			.progress__steps
				.progress__step.visited
				.progress__step.current
				.progress__step
				.progress__step
				.progress__step
			.progress__text
				| Шаг #{step}&nbsp;из&nbsp;4
