extends pug/base

block scripts

block styles
	style.
		body {
			font-family: Arial, sans-serif;
		}

		li {
			margin-bottom: 0.5em;
		}

		a,
		a:visited {
			color: blue;
		}

block content
	ul
		li
			a(href="/step-1.html" target="_blank")
				| (01_bankvenec_form) Шаг 1 из 5. Персональные данные
		li
			a(href="/step-1-2.html" target="_blank")
				| (02_bankvenec_form) Шаг 1 из 5. Подтверждение
		li
			a(href="/step-2.html" target="_blank")
				| (03_bankvenec_form) Шаг 2 из 5. Сведения о занятости
		li
			a(href="/step-3.html" target="_blank")
				| (04_bankvenec_form) Шаг 3 из 5. Дополнительные сведения
		li
			a(href="/step-3-2.html" target="_blank")
				| (05_bankvenec_form) Шаг 3 из 5. Подтверждение сведений
		li
			a(href="/step-4.html" target="_blank")
				| (06_bankvenec_form) Шаг 4 из 5. Запрашиваемые параметры
		li
			a(href="/step-4-2.html" target="_blank")
				| (07_bankvenec_form) Шаг 4 из 5. Запрашиваемые параметры
		li
			a(href="/step-5.html" target="_blank")
				| (08_bankvenec_form) Шаг 5 из 5. Заявка отправлена
