.advantages {
	padding-top: 234px;
	padding-bottom: 120px;
	background-color: $color-white;

	&__wrapper {
		display: flex;
	}

	&__title {
		padding-bottom: 16px;
		font-family: $font-family-officinaSerifOSC;
		font-weight: 700;
		font-size: 48px;
		line-height: 1.08;
		color: $color-mine-shaft;
	}

	&__list {
		p {
			font-size: 19px;
			line-height: 1.26;
			color: $color-mine-shaft;
		}
	}

	img {
		display: block;
		margin-top: 9px;
		margin-right: 66px;
		width: 372px;
		height: 272px;
		object-fit: contain;
	}

	&__plate {
		margin-top: 70px;
		border-radius: 10px;
		padding: 31px 50px 29px;
		width: 460px;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		font-family: $font-family-officinaSerifMediumC;
		font-weight: 500;
		font-size: 19px;
		line-height: 1.26;
		color: $color-mine-shaft;
		background-color: $color-white;

		&:first-child {
			margin-right: 40px;
		}

		&:last-child {
			margin-right: 0;
		}

		&--bordered {
			border: solid 3px $color-chalky;
			box-shadow: none;
		}
	}

	@media (max-width: 1023px) {
		padding-top: 195px;

		img {
			margin-right: 15px;
			width: 310px;
			height: 236px;
		}

		&__plate {
			margin-top: 50px;
			padding: 18px 28px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 155px;
		padding-bottom: 40px;

		&__wrapper {
			display: block;
		}

		img {
			margin: 0 auto;
			width: 274px;
			height: 206px;
		}

		&__title {
			padding-bottom: 0;
			font-size: 30px;
		}

		&__info {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		&__plate {
			margin-top: 20px;
			width: auto;

			&:first-child {
				margin-right: 0;
			}
		}
	}
}
