*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-family-roboto;
	color: $color-mine-shaft;
	background-color: $color-alabaster;
}

a {
	color: $color-denim;
	transition: color 0.2s ease;

	&:hover {
		color: $color-curious-blue;
	}
}
