.button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px;
	padding: 18px 10px;
	height: 72px;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	background: 50% 50% no-repeat;
	transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
	cursor: pointer;

	svg {
		display: block;
		max-width: 100%;
		max-height: 100%;
		transition: fill 0.2s ease, stroke 0.2s ease;
	}

	&--loading {
		font-size: 0;
		background-image: url("../images/button-loading.gif");
	}

	&--small {
		border-width: 1px;
		padding: 11px 10px;
		height: 48px;
		font-size: 19px;
		line-height: 24px;
	}

	&--gray {
		border-color: $color-bali-hai;
		color: $color-white;
		background-color: $color-bali-hai;

		svg {
			fill: $color-white;
			stroke: $color-white;
		}

		&:hover {
			border-color: $color-slate-gray;
			background-color: $color-slate-gray;
		}

		&:active {
			border-color: $color-slate-gray;
			background-color: $color-slate-gray;
		}
	}

	&--gray-ghost {
		border-color: $color-bali-hai;
		color: $color-slate-gray;
		background-color: transparent;

		svg {
			fill: $color-slate-gray;
			stroke: $color-slate-gray;
		}

		&:hover {
			color: $color-curious-blue;

			svg {
				fill: $color-curious-blue;
				stroke: $color-curious-blue;
			}
		}
	}

	&--red {
		border-color: $color-mojo;
		color: $color-white;
		background-color: $color-mojo;

		svg {
			fill: $color-white;
			stroke: $color-white;
		}

		&:hover {
			border-color: $color-stiletto;
			background-color: $color-stiletto;
		}

		&:active {
			border-color: $color-metallic-copper;
			background-color: $color-burnt-umber;
		}
	}

	&--red-ghost {
		border-color: $color-mojo;
		color: $color-mojo;
		background-color: transparent;

		svg {
			fill: $color-mojo;
			stroke: $color-mojo;
		}

		&:hover {
			border-color: $color-mojo;
			color: $color-white;
			background-color: $color-mojo;

			svg {
				fill: $color-white;
				stroke: $color-white;
			}
		}

		&:active {
			border-color: $color-stiletto;
			color: $color-white;
			background-color: $color-stiletto;

			svg {
				fill: $color-white;
				stroke: $color-white;
			}
		}
	}
}
