.card-info {
	margin-bottom: 128px;
	padding-top: 93px;

	&__title {
		margin-bottom: 15px;
		font-family: $font-family-officinaSerifOSC;
		font-weight: 700;
		font-size: 48px;
		line-height: 48px;
	}

	&__subtitle {
		font-size: 32px;
		line-height: 48px;
	}

	&__wrapper {
		display: flex;
		margin-top: 64px;
	}

	&__left-column {
		flex: 0 0 auto;
		margin-right: 56px;
		width: 240px;
	}

	&__right-column {
		flex: 1 1 auto;
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	&__list {
		display: flex;
		margin-bottom: 24px;

		&__column {
			&:first-child {
				flex: 0 0 auto;
				margin-right: 58px;
				width: 304px;
			}

			&:last-child {
				flex: 1 1 auto;
			}
		}
	}

	&__item {
		margin-bottom: 32px;

		&__title {
			position: relative;
			padding-left: 26px;
			font-size: 19px;
			line-height: 24px;

			&::before {
				content: "—";
				position: absolute;
				left: 0;
				font-size: 19px;
				line-height: 24px;
				color: $color-mojo;
			}
		}

		&__text {
			padding-left: 26px;
			font-size: 32px;
			line-height: 48px;
		}
	}

	&__description {
		font-size: 19px;
		line-height: 24px;
	}
}
