.header {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 32px 100px;
	background-color: $color-white;

	&__logo {
		display: block;
		width: 240px;
		height: 67px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		padding-top: 12px;

		&__button {
			margin-right: 45px;
			width: 186px;
		}

		&__item {
			margin-right: 23px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__phone {
			font-weight: 700;
			font-size: 22px;
			line-height: 1.09;
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
			color: $color-silver-chalice;
		}
	}

	@media (max-width: 1080px) {
		display: block;

		&__info {
			flex-wrap: wrap;
			padding-top: 30px;

			&__button {
				flex-basis: 100%;
				order: 2;
				margin-top: 30px;
				margin-right: 0;
			}

			&__item {
				flex-basis: 50%;
				margin-right: 0;
			}
		}
	}

	@media (max-width: 767px) {
		padding: 32px 16px;
	}

	@media (max-width: 490px) {
		&__info {
			&__phone {
				font-size: 17px;
			}
		}
	}

	@media (max-width: 359px) {
		&__info {
			&__text {
				font-size: 14px;
			}
		}
	}
}
