.progress {
	padding-top: 78px;
	padding-bottom: 32px;

	&__steps {
		display: flex;
		justify-content: center;
		margin: 0 auto 25px;
		max-width: 700px;
	}

	&__step {
		flex: 0 0 auto;
		margin: 0 42.5px;
		border: solid 2px #e62b20;
		border-radius: 50%;
		width: 56px;
		height: 56px;

		&.visited {
			background-color: #e62b20;
		}

		&.current {
			background: url("../images/progress_logo.jpg") no-repeat top 50% left 49%;
			background-size: 28px 20px;
		}
	}

	&__text {
		font-size: 19px;
		line-height: 24px;
		text-align: center;
	}

	@media (max-width: 740px) {
		&__steps {
			justify-content: center;
		}

		&__step {
			margin: 0 20px;
		}
	}

	@media (max-width: 490px) {
		padding-top: 40px;

		&__step {
			margin: 0 10px;
			width: 40px;
			height: 40px;
		}
	}
}
