// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-alabaster: #fafafa;
$color-mojo: #c5403c;
$color-mine-shaft: #3d3d3d;
$color-silver-chalice: #a6a6a6;
$color-alto: #d8d8d8;
$color-geyser: #dce0e4;
$color-bali-hai: #8c9cab;
$color-slate-gray: #637388;

// FONTS
$font-family-roboto: "Roboto", sans-serif;
