// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-alabaster: #fafafa;
$color-mojo: #c5403c;
$color-mine-shaft: #3d3d3d;
$color-silver-chalice: #a6a6a6;
$color-alto: #d8d8d8;
$color-geyser: #dce0e4;
$color-bali-hai: #8c9cab;
$color-slate-gray: #637388;
$color-pastel-green: #66d37e;
$color-denim: #1665b3;
$color-curious-blue: #207dd9;
$color-stiletto: #9f322f;
$color-burnt-umber: #832a27;
$color-metallic-copper: #64201e;

// FONTS
$font-family-roboto: "Roboto", sans-serif;
$font-family-officinaSerifMediumC: "OfficinaSerifMediumC", sans-serif;
$font-family-officinaSerifOSC: "OfficinaSerifOSC", sans-serif;
